/node_modules
/public/hot
/public/storage
/public/archivos/imagenes/productos
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
/.idea
/.vscode